* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Nav Header*/

#header-nav {
    background-color: gray;
    border: 2px black solid;
}

/*Nav Body Content*/

#nav-list {
    text-align: center;
}

.custom-button:hover {
    background-color: white;
}



.list1, .list2, .list3 {
    border-bottom: 2px black solid;
}

/*Section Content*/

.chicken, .beef, .sushi{
    text-align: center;
    float: left;
    margin: 15px;
    background-color: gray;
    border: 2px;
    width: 29%;
}

/*NAV Bar appears at 768px*/

@media (min-width: 768px) {
    .navbar-icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .chicken, .beef {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .sushi {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .chicken, .beef, .sushi {
        width: 95%;
        padding: 15px;
    }
}
